{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'blog:post_create' %}">Add post</a>
    </div>
    <div class="row">
        {% for object in object_list %}
            <div class="col-lg-4">

                <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                     role="img" aria-label="Placeholder"
                     src="{{ object.image.url }}" alt="{{ object.title }}">
                <h2 class="fw-normal">{{ object.title }}</h2>
                <p>{{ object.content | truncatechars:50 }}</p>
                <p><a class="btn btn-secondary" href="{% url 'blog:post_detail' object.slug %}">View</a></p>
                <p><a class="btn btn-secondary" href="{% url 'blog:post_update' object.slug %}">Edit</a></p>
                <p><a class="btn btn-secondary" href="{% url 'blog:post_delete' object.slug %}">Delete</a>
                </p>

            </div>
        {% endfor %}
    </div>
{% endblock %}